/*style slideshow*/
.demo {
  width: 900px;
  margin: auto;
}

ul {
  list-style: none outside none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
}

li {
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}  